@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto Slab", serif; 
    overflow-x: hidden
}

.montserrat-title {
    font-family: 'Montserrat', serif;
}


a {
    text-decoration: none;
    color: white
}

a:hover {
    color: #F2C36B;
}

.fit-content {
	width: fit-content;
}

.mt-100 {
    margin: 100px 0 0;
}

.mt-120 {
    margin: 120px 0 0;
}